.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.carouselContainer {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContainer .arrow {
  flex: 5%;
  /* height: 100%; */
  background-color: black;
  /* display: grid; */
  /* place-items: center; */
  color: white;
}

.carouselContainer .center {
  flex: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* display: grid; */
  /* place-items: center; */
  /* text-align: justify;
  text-align-last: center; */
}
